.dropdown-technologies{
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
  padding: 5px 12px 5px 12px;
}

.container-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}